body {
	scroll-behavior: smooth;
    font-family: "Courier New", "Courier", "mono";
    color:#FFFFFF;
    background-color: rgb(64, 160, 255);
	background-image: url("background_faq.png");
    font-size: 30px;
    text-align: center;
}

.button2 {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	background-color: #7289DA;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button2:hover {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	background-color: #8EA5E2;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);